<a href="https://colab.research.google.com/github/fanny/information-retrieval/blob/master/lab2/text_processing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [65]:
import pandas as pd
import seaborn as sns
import matplotlib 

data = pd.read_csv('https://raw.githubusercontent.com/fanny/information-retrieval/master/lab2/data/results.csv')
data.head()

,_id,author,date,section,sub_title,text,title,url
0,18,Gazeta do Povo,NaN,educacao,NaN,S o b r e a i n d i c a ç ã o d e q u ...,Populares,https://www.gazetadopovo.com.br/educacao/olavo...
1,6,Agência Estado,NaN,republica,NaN,O l í d e r d o M D B n a C â m a r ...,Populares,https://www.gazetadopovo.com.br/republica/pec-...
2,5,Gazeta do Povo,NaN,curitiba,NaN,D e p o i s d e u m a s e m a n a d e ...,Populares,https://www.gazetadopovo.com.br/curitiba/previ...
3,8,"Raphael Sibila, especial para a Gazeta do Povo",NaN,republica,NaN,“ S e v o c ê n ã o t e m a c a p a ...,Populares,https://www.gazetadopovo.com.br/republica/braz...
4,11,The Daily Signal,NaN,ideias,NaN,P e s s o a s q u e b u s c a m u m a ...,Populares,https://www.gazetadopovo.com.br/ideias/nao-se-...

In [0]:
clean_text = data['text'].dropna()

In [0]:
import re

def filter_valid_words(text):
  return re.sub(r'(\W+|\d+|\b\w{0,3}\b)', ' ', text.lower())

In [68]:
clean_text = clean_text.apply(filter_valid_words)
clean_text.head(20)

0                                                   ...
1                                                   ...
2                                                   ...
3                                                   ...
4                                                   ...
7                                                   ...
10                                                  ...
11                                                  ...
12                                                  ...
13                                                  ...
14                                                  ...
15     pessoas   buscam   identidade transsexual   n...
16     depois     semana   calor curitiba terá      ...
17      promessas   muitas combater   envelhecimento...
18      líder       câmara baleia rossi   protocolou...
19      meia atacante maicosuel está     situação in...
20     concretizar   compra     carro novo   sempre ...
21          horário   verão mudanças   secom     min...
23      levou   encerramento   audiência   comissão ...
24     apenas     depois   sediar     vietnã deporto...
Name: text, dtype: object

In [0]:
all_formatted_text = clean_text.str.cat(sep=' ')

In [73]:
word_list = [text for text in all_formatted_text.split(' ') if len(text) > 0]
words = pd.DataFrame(word_list, columns=['word'])
words.head(15)

           word
0       pessoas
1        buscam
2    identidade
3   transsexual
4      nasceram
5         assim
6      crianças
7         devem
8   estimuladas
9         fazer
10    transição
11         para
12         sexo
13       oposto
14         quem

In [78]:
frequencies = words['word'].value_counts()
frequencies.head(50)

para          778
mais          303
como          261
pela          163
pelo          158
também        158
disse         150
governo       146
sobre         141
anos          135
presidente    133
entre         131
ainda         114
segundo       112
isso          109
está          108
brasil        104
pode          101
ministro       93
feira          87
foram          82
bolsonaro      82
quando         81
pessoas        77
país           70
seja           70
mesmo          69
após           69
muito          65
sistema        63
além           62
eles           62
caso           59
estados        58
educação       58
grupo          56
nacional       55
essa           55
ministério     54
contra         53
apenas         53
quem           53
dois           52
todos          52
depois         52
seus           51
estão          51
estado         51
maior          51
outros         50
Name: word, dtype: int64

In [0]:
statistics = {}
statistics['total_documents'] = len(clean_text)
statistics['total_words_occurences'] = len(words)
statistics['vocabulary_size'] = len(words.word.unique())
statistics['words_occurring_greater_1000_times'] = len(frequencies[frequencies > 1000])
statistics['words_occurring_once'] = len(frequencies[frequencies == 1])

In [83]:
data_statistics = pd.DataFrame(statistics, index=[0])
data_statistics

,total_documents,total_words_occurences,vocabulary_size,words_occurring_greater_1000_times,words_occurring_once
0,119,35412,9380,0,5023