<a href="https://colab.research.google.com/github/fanny/information-retrieval/blob/master/lab2/text_processing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [113]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib 

data = pd.read_csv('https://raw.githubusercontent.com/fanny/information-retrieval/master/lab2/data/results.csv')
data.head()

,_id,author,date,section,sub_title,text,title,url
0,18,Gazeta do Povo,NaN,educacao,NaN,S o b r e a i n d i c a ç ã o d e q u ...,Populares,https://www.gazetadopovo.com.br/educacao/olavo...
1,6,Agência Estado,NaN,republica,NaN,O l í d e r d o M D B n a C â m a r ...,Populares,https://www.gazetadopovo.com.br/republica/pec-...
2,5,Gazeta do Povo,NaN,curitiba,NaN,D e p o i s d e u m a s e m a n a d e ...,Populares,https://www.gazetadopovo.com.br/curitiba/previ...
3,8,"Raphael Sibila, especial para a Gazeta do Povo",NaN,republica,NaN,“ S e v o c ê n ã o t e m a c a p a ...,Populares,https://www.gazetadopovo.com.br/republica/braz...
4,11,The Daily Signal,NaN,ideias,NaN,P e s s o a s q u e b u s c a m u m a ...,Populares,https://www.gazetadopovo.com.br/ideias/nao-se-...

In [0]:
clean_text = data['text'].dropna()

In [0]:
import re

def filter_valid_words(text):
  return re.sub(r'(\W+|\d+|\b\w{0,3}\b)', ' ', text.lower())

In [95]:
clean_text = clean_text.apply(filter_valid_words)
clean_text.head(20)

0                                                   ...
1                                                   ...
2                                                   ...
3                                                   ...
4                                                   ...
7                                                   ...
10                                                  ...
11                                                  ...
12                                                  ...
13                                                  ...
14                                                  ...
15     pessoas   buscam   identidade transsexual   n...
16     depois     semana   calor curitiba terá      ...
17      promessas   muitas combater   envelhecimento...
18      líder       câmara baleia rossi   protocolou...
19      meia atacante maicosuel está     situação in...
20     concretizar   compra     carro novo   sempre ...
21          horário   verão mudanças   secom     min...
23      levou   encerramento   audiência   comissão ...
24     apenas     depois   sediar     vietnã deporto...
Name: text, dtype: object

In [0]:
all_formatted_text = clean_text.str.cat(sep=' ')

In [97]:
word_list = [text for text in all_formatted_text.split(' ') if len(text) > 0]
words = pd.DataFrame(word_list, columns=['word'])
words.head(15)

           word
0       pessoas
1        buscam
2    identidade
3   transsexual
4      nasceram
5         assim
6      crianças
7         devem
8   estimuladas
9         fazer
10    transição
11         para
12         sexo
13       oposto
14         quem

In [98]:
frequencies = words['word'].value_counts()
frequencies.head(10)

para       778
mais       303
como       261
pela       163
pelo       158
também     158
disse      150
governo    146
sobre      141
anos       135
Name: word, dtype: int64

In [0]:
def get_percentage(value):
  return value * 100

In [100]:
relative_frequencies = words['word'].value_counts(normalize=True)
relative_frequencies = relative_frequencies.apply(get_percentage)
relative_frequencies.head(10)

para       2.196995
mais       0.855642
como       0.737038
pela       0.460296
pelo       0.446176
também     0.446176
disse      0.423585
governo    0.412290
sobre      0.398170
anos       0.381227
Name: word, dtype: float64

In [124]:
relative_frequencies.index

Index(['para', 'mais', 'como', 'pela', 'pelo', 'também', 'disse', 'governo',
       'sobre', 'anos',
       ...
       'refis', 'cautelares', 'mede', 'inspiração', 'ocupação', 'tantos',
       'eletromobilidade', 'velocidades', 'textura', 'goleiro'],
      dtype='object', length=9380)

In [0]:
statistics = {}
statistics['total_documents'] = len(clean_text)
statistics['total_words_occurences'] = len(words)
statistics['vocabulary_size'] = len(words.word.unique())
statistics['words_occurring_greater_1000_times'] = len(frequencies[frequencies > 1000])
statistics['words_occurring_once'] = len(frequencies[frequencies == 1])

In [102]:
data_statistics = pd.DataFrame(statistics, index=[0])
data_statistics

,total_documents,total_words_occurences,vocabulary_size,words_occurring_greater_1000_times,words_occurring_once
0,119,35412,9380,0,5023

In [0]:
ranking = np.arange(0,len(words['word'].unique()))

In [127]:
most_frequent_50_words = {
    'frequency': frequencies,
    'r': ranking,
    'Pr(%)': relative_frequencies,
    'r.Pr': relative_frequencies * ranking
}

most_frequent_50_words = pd.DataFrame(most_frequent_50_words)
most_frequent_50_words.head(15)

            frequency   r     Pr(%)      r.Pr
para              778   0  2.196995  0.000000
mais              303   1  0.855642  0.855642
como              261   2  0.737038  1.474077
pela              163   3  0.460296  1.380888
pelo              158   4  0.446176  1.784706
também            158   5  0.446176  2.230882
disse             150   6  0.423585  2.541511
governo           146   7  0.412290  2.886027
sobre             141   8  0.398170  3.185361
anos              135   9  0.381227  3.431040
presidente        133  10  0.375579  3.755789
entre             131  11  0.369931  4.069242
ainda             114  12  0.321925  3.863097
segundo           112  13  0.316277  4.111601
isso              109  14  0.307805  4.309274